
.arrowInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    width: 100%;
    transition: all 0.3s ease;
  }
  
  .headerArrowInfo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    font-size: 32px;
    gap: 30px;
    background-color: var(--secondary-color);
    border: none;
    transition: all 0.3s ease;
  }
  
  .headerArrowInfo:hover {
    cursor: pointer;
  }
  
  .headerArrowInfo img {
    margin-top: 5px;
    transition: all 0.3s ease;
  }
  
  .imgArrowDown {
    rotate: 90deg;
  }