:root {
  --main-color: #820AD1;
  --secondary-color: #f0f0f0;
  --tertiary-color: #bababa;
  --placeholder-color: #888888;
  --lateral-padding: 60px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  margin:0;
  padding: 0;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  background: #fff; /*linear-gradient(#fff, var(--cor-principal));*/
  display: flex;
  flex-direction: column;
  gap: 0;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}
