:root {
  --cor-principal: #03e9f4;
  --cor-secundaria: #048ABF;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background: linear-gradient(#fff, var(--cor-secundaria));
}