:root {
  --cor-principal: #820AD1;
  --cor-secundaria: #048ABF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  margin:0;
  padding: 0;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  background: #fff; /*linear-gradient(#fff, var(--cor-principal));*/
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}