.headerDiv {
  position: relative;
  padding: var(--top-padding) var(--lateral-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--cor-principal);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.logo {
  color: #000;
  font-weight: 700;
  font-size: clamp(1.1rem, 6vw, 1.7rem);
  text-decoration: none;
}

.navigationLinks {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.navigationIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.modeDiv{
  position: sticky;
  top: 0;
  align-self: center;
  background-color: var(--main-color);
  color: white;
  padding: 2px 80px;
  font-size: 24px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
}

.modeDiv:hover{
  box-shadow: 2px 2px 10px var(--main-color);
  cursor: pointer;
}


@media (max-width: 700px) {
  .headerDiv {
    padding: 10px 10px;
  }
  .logo {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
  }
  .navigationLinks {
    gap: 10px;
  }

  .navigationIcons {
    gap: 10px;
  }
}
