.iconAndInfoDiv{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.label{
    font-size: 32px;
}

.info{
    font-size: 32px;
    border: none;
    width: 100%;
    background-color: var(--secondary-color);
    
}